body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header, .introduction, .footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header .logo, .introduction .hero_main {
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 530px;
    padding: 8px 32px;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px 32px;
}

.hero_main {
    font-size: 48px;
    font-weight: bolder;
}
 
.intro_container p {
    width: 400px;
}

.intro_container button {
    cursor: pointer;
    outline: 0;
    color: #F9FAF8;
    background-color: #3882f6;
    border-color: #3882f6;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}


.introduction img {
    width: 400px;
}

.info_header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 68px 32px;
}

.figures {
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

}

.figures img {
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 4px;
    text-align: center;
}

.caption {
    width: 100px;

}


.quote {
    background-color: #E5E7EB;
}
